.sidebar{
    border: 1.3px solid #a9a9a9;
    border-top: 0;
    font-size: max(1.2vw, 10px);
    min-height: 100vh;
    width: 18%;
}

.sidebar-options{
    display: flex;
    padding-top: 45px;
    padding-left: 20%;
    flex-direction: column;
    gap: 18px;
}

.sidebar-option{
    display: flex;
    align-items: center;
    border-right: 0;
    border: 1px solid #a9a9a9;
    border-radius: 3px 0px 0px 3px;
    gap: 11px;
    padding: 8px 8px;
    cursor: pointer;
}

.sidebar-option.active{
    background-color: #e5ebff;
    border-color: #2749a9;
}

@media(max-width: 900px){
    .sidebar-option p{
        display: none;
    }
}