.my-orders{
    margin: 50px 0px;
}

.my-orders .container{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    flex-direction: column;
}

.my-orders-order{
    align-items: center;
    border: 1px solid #2749a9;
    color: #454545;
    gap: 30px;
    font-size: 14px;
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 2fr 1fr;
    padding: 10px 20px;
}

.my-orders-order button{
    border: none;
    border-radius: 5px;
    background-color: #c7e0ff;
    cursor: pointer;
    color: #454545;
    padding: 12px 0px;
}

.my-orders-order img{
    width: 50px;
}

.my-orders-order p span{
    color: #2749a9;
}

.my-orders-order p b{
    color: #454545;
    font-weight: 500;
}

@media (max-width:900px) {
    .my-orders-order{
        grid-template-columns: 1fr 2fr 1fr;
        row-gap: 5px;
        font-size: 12px;
    }
    .my-orders-order button{
        font-size: 10px;
    }
}